name: Pre Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-submit:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Checkout | 切换到部署分支
        uses: actions/checkout@v2
        with:
          ref: "main"
          submodules: true
          fetch-depth: 0

      - name: Setup the Nodejs environment | 设置Nodejs环境
        uses: actions/setup-node@v2
        with:
          node-version: 16.13.1

      - name: Build | 构建
        run: |
          node -v &&
          npm -v &&
          npm run build
